.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  /* background-color: #b5d3f9; */
  background: linear-gradient(to left, #2fa5ed, #b5d3f9, #ebeefb);
  color: #fff;
}

.nav-logo {
  font-size: 24px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
}

.sidebar {
  position: fixed;
  left: -100%;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #2fa5ed;
  padding: 20px;
  transition: left 0.3s ease;
}

.sidebar-links {
  list-style: none;
}

.sidebar-links li a {
  display: block;
  padding: 10px 0;
  color: #fff;
  text-decoration: none;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 24px;
  color: #fff;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .nav-logo {
    text-align: center;
    width: 100%;
  }
}

.sidebar.active {
  left: 0;
  z-index: 1;
}
